<ion-header [translucent]="true">
    <app-toolbar></app-toolbar>
    <ion-toolbar class="toolbar-segments" color="primary">
        <ion-segment mode="ios" (ionChange)="changeSegment($event)" [value]="segmentSelected">
            <ion-segment-button value="all">
                {{'historic.tabs.all' | translate}}
            </ion-segment-button>
            <ion-segment-button value="assigned">
                {{'historic.tabs.assigned' |translate}}
            </ion-segment-button>
            <ion-segment-button value="finished">
                {{'historic.tabs.finished' |translate}}
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div [ngSwitch]="segmentSelected" class="h-100">
        <section class="h-100" *ngSwitchCase="'all'">
            <ion-card button *ngFor="let order of orders" (click)="viewDetails(order)">
                <div class="d-flex">
                    <ion-card-header class="card-header">
                        <ion-icon name="file-tray" color="tertiary" class="card-icon-left"></ion-icon>
                        <ion-text color="tertiary">{{order.container?.code}}</ion-text>
                    </ion-card-header>
                    <ion-card-content class="ion-no-padding ion-margin w-100">
                        <ion-card-subtitle class="ion-text-right" [color]="order.status === 'DELIVERY' ? 'danger' : 'tertiary'">
                            {{order.status}}
                        </ion-card-subtitle>
                        <ion-text class="card-route-title" color="tertiary"><ion-icon name="location"></ion-icon> {{'historic.card.beginIn' | translate}}</ion-text>
                        <p class="card-route">{{order.location_begin?.address_text}}</p>
                        <ion-text class="card-route-title" color="tertiary"><ion-icon name="navigate"></ion-icon> {{'historic.card.endIn' | translate}}</ion-text>
                        <p class="card-route">{{order?.location_end ? order.location_end?.address_text : 'No hay destino aun'}}</p>
                    </ion-card-content>
                </div>
            </ion-card>
        </section>
        <section class="h-100" *ngSwitchCase="'assigned'">
            <ion-card button *ngFor="let order of filterOrders('ASSIGNED')" (click)="viewDetails(order)">
                <div class="d-flex">
                    <ion-card-header class="card-header">
                        <ion-icon name="file-tray" color="tertiary" class="card-icon-left"></ion-icon>
                        <ion-text color="tertiary">{{order.container?.code}}</ion-text>
                    </ion-card-header>
                    <ion-card-content class="ion-no-padding ion-margin w-100">
                        <ion-text class="card-route-title" color="tertiary"><ion-icon name="location"></ion-icon> {{'historic.card.beginIn' | translate}}</ion-text>
                        <p class="card-route">{{order.location_begin?.address_text}}</p>
                        <ion-text class="card-route-title" color="tertiary"><ion-icon name="navigate"></ion-icon> {{'historic.card.endIn' | translate}}</ion-text>
                        <p class="card-route">{{order?.location_end ? order.location_end?.address_text : 'No hay destino aun'}}</p>
                    </ion-card-content>
                </div>
            </ion-card>
            <app-background-empty *ngIf="filterOrders('ASSIGNED').length === 0" [title]="'historic.tabs.assignedEmpty' | translate"></app-background-empty>
        </section>
        <section class="h-100" *ngSwitchCase="'finished'">
            <ion-card *ngFor="let order of filterOrders('DELIVERY')">
                <div class="d-flex">
                    <ion-card-header class="card-header">
                        <ion-icon name="file-tray" color="tertiary" class="card-icon-left"></ion-icon>
                        <ion-text color="tertiary">{{order.container?.code}}</ion-text>
                    </ion-card-header>
                    <ion-card-content class="ion-no-padding ion-margin w-100">
                        <ion-text class="card-route-title" color="tertiary"><ion-icon name="location"></ion-icon> {{'historic.card.beginIn' | translate}}</ion-text>
                        <p class="card-route">{{order.location_begin?.address_text}}</p>
                        <ion-text class="card-route-title" color="tertiary"><ion-icon name="navigate"></ion-icon> {{'historic.card.endIn' | translate}}</ion-text>
                        <p class="card-route">{{order?.location_end ? order.location_end?.address_text : 'No hay destino aun'}}</p>
                    </ion-card-content>
                </div>
            </ion-card>
            <app-background-empty *ngIf="filterOrders('DELIVERY').length === 0" [title]="'historic.tabs.finishedEmpty' | translate"></app-background-empty>
        </section>
    </div>



</ion-content>
