.searchbar-ios {
    padding-top: 12px;
    padding-inline-end: 4px;
}

.chat {
    &--label {
        position: relative;
        span {
            position: absolute;
            right: 0;
            top: 0;
            font-size: small;
            color: var(--ion-color-medium);
        }
    }
}

