<ion-header>
    <ion-toolbar color="primary">
        <ion-searchbar placeholder="Buscar usuario"></ion-searchbar>
        <ion-buttons slot="end">
            <ion-button slot="icon-only" (click)="dismissModal()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<div class="progress-bar-container">
    <ion-progress-bar type="indeterminate" color="primary" *ngIf="loading"></ion-progress-bar>
</div>

<ion-content>
    <ion-list>
        <ion-item button class="chat" lines="full"
                  *ngFor="let user of users" (click)="openChat(user.id)">
            <ion-avatar slot="start" class="chat--avatar">
                <img src="assets/img/avatar/avatar.png" alt="Img User">
            </ion-avatar>
            <ion-label class="chat--label">
                {{user.name}}
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
