<ion-tabs>

    <ion-tab-bar mode="ios" slot="bottom">
        <ion-tab-button tab="my-route">
            <ion-icon name="car"></ion-icon>
<!--            <ion-label>{{'myRoute.title' | translate}}</ion-label>-->
        </ion-tab-button>

        <ion-tab-button tab="historic">
            <ion-icon name="albums"></ion-icon>
<!--            <ion-label>{{'historic.title' | translate}}</ion-label>-->
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <ion-icon name="person-circle"></ion-icon>
<!--            <ion-label>{{'profile.title' | translate}}</ion-label>-->
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
