<ion-tabs>

    <ion-tab-bar mode="ios" slot="bottom">
        <ion-tab-button tab="my-route">
            <ion-icon class="icon-active" src="assets/icon/tabs/route-active.svg"></ion-icon>
            <ion-icon class="icon-inactive" src="assets/icon/tabs/route-inactive.svg"></ion-icon>
<!--            <ion-label>{{'myRoute.title' | translate}}</ion-label>-->
        </ion-tab-button>

        <ion-tab-button tab="historic">
            <ion-icon class="icon-active" src="assets/icon/tabs/home-active.svg"></ion-icon>
            <ion-icon class="icon-inactive" src="assets/icon/tabs/home-inactive.svg"></ion-icon>
<!--            <ion-label>{{'historic.title' | translate}}</ion-label>-->
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <ion-icon class="icon-active" src="assets/icon/tabs/user-active.svg"></ion-icon>
            <ion-icon class="icon-inactive" src="assets/icon/tabs/user-inactive.svg"></ion-icon>
<!--            <ion-label>{{'profile.title' | translate}}</ion-label>-->
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
