<ion-header >
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/historic"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'journey.title' | translate}} {{travelCode}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <p class="detail-p">
                <ion-text color="tertiary">{{'historic.card.beginIn' | translate}}:</ion-text>
                {{travel.positionBegin}}
            </p>
            <p class="detail-p">
                <ion-text color="tertiary">{{'historic.card.endIn' | translate}}:</ion-text>
                {{travel.positionEnd}}
            </p>
        </ion-card-header>

<!--        <div id="map_canvas"></div>-->

        <ion-card-content>
            <ion-button color="primary" expand="block" (click)="enterMileage()">Iniciar</ion-button>
        </ion-card-content>
    </ion-card>


</ion-content>
