<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="myDismiss()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{'journey.title' | translate}} {{journey.invoice}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Delivery form</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label position="floating">Who receives</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
            <div class="input-file ion-margin-top">
                <ion-label>Client's signature</ion-label>
                <div class="img-container">
                    <ion-slides pager="true" [options]="slideOpts">
                        <ion-slide *ngFor="let img of endJourney.files">
                            <div>
                                <ion-img [src]="img"></ion-img>
                            </div>
                        </ion-slide>
                    </ion-slides>
                </div>
                <div class="gallery-scroll">
                    <div class="gallery-scroll--contain" *ngFor="let img of endJourney.files; let i = index">
                        <ion-img class="gallery-scroll--img" [src]="img"></ion-img>
                        <ion-button class="gallery-scroll--button ion-no-padding" size="small" (click)="deleteImg(i)" color="danger">
                            <ion-icon name="close" slot="icon-only"></ion-icon>
                        </ion-button>
                    </div>
                </div>
                <ion-button (click)="takeImage()" color="tertiary" size="small">Add photo</ion-button>
                <ion-input *ngIf="isTest" accept="image/*" type="file" (change)="chargeImage($event)"></ion-input>
            </div>

            <ion-button expand="block" class="ion-margin-top btn-large" (click)="finishJourney()">Finish</ion-button>
        </ion-card-content>
    </ion-card>



</ion-content>
