<ion-content>

    <ion-list class="login">
        <ion-list-header class="login-logo">
          <ion-img src="assets/icon/PARADA-Waste-LOGO2-500PX.png"></ion-img>
        </ion-list-header>
        <form [formGroup]="form" (ngSubmit)="login()">
            <div class="login-input-container">
                <!--        <ion-label class="login-input-label">Nombre de Usuario</ion-label>-->
                <ion-item class="login-input">
                    <ion-icon name="person" slot="start"></ion-icon>
                    <ion-input type="email" [disabled]="sending" [placeholder]="'login.input.user' | translate" formControlName="email"></ion-input>
                </ion-item>
                <span *ngIf="form.get('email').errors?.required && submitted" class="error-text">{{'form.required' | translate}}</span>
            </div>
            <div class="login-input-container">
                <!--        <ion-label class="login-input-label">Contraseña</ion-label>-->
                <ion-item class="login-input">
                    <ion-icon name="lock-closed" slot="start"></ion-icon>
                    <ion-input type="password" [disabled]="sending" [placeholder]="'login.input.pass' | translate" formControlName="password"></ion-input>
                </ion-item>
                <span *ngIf="form.get('password').errors?.required && submitted" class="error-text">{{'form.required' | translate}}</span>
            </div>
            <ion-button class="login-button" color="primary" type="submit"
                        expand="block">
                <span *ngIf="!sending">{{'login.button' | translate}}</span>
                <ion-spinner *ngIf="sending"></ion-spinner>
            </ion-button>
        </form>


<!--        <a href="" class="login-forgotPass">¿Has Olvidado tu Contraseña?</a>-->
    </ion-list>


</ion-content>
