.button-bottom-left {
    bottom: 1rem;
    ion-fab-button {
        --border-radius: 4px;
        width: 7rem;
        height: 2rem;
    }
}
.button-collapse {
    position: absolute;
    right: 16px;
    z-index: 1;
}
.button-cancel {
    display: flex;
    justify-content: flex-end;
}

#map_canvas {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.card-status {
    //height: 100%;
    --background: #FFF;
    transition: height 2s linear 1s;
    &.card-hidden {
        height: 90px;
    }
}
.icon-collapse {
    font-size: 18px;
}
