<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            {{'chats.title' | translate}}
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/historic"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<div class="progress-bar-container">
    <ion-progress-bar type="indeterminate" color="primary" *ngIf="loading"></ion-progress-bar>
</div>

<ion-content>
    <ion-list *ngIf="chats.length">
        <ion-item button class="chat" *ngFor="let chat of chats" (click)="chat.createdBy ? openChat(true, chat) : openChat(false, chat)"
                  [ngClass]="{'chat-unread': chat.unread === true || chat.unread[user.id]}">
            <ion-avatar slot="start" class="chat--avatar">
                <ion-img src="assets/img/avatar/avatar.png"></ion-img>
            </ion-avatar>
            <ion-label class="chat--label">
                <span *ngIf="isToday(chat.lastDate)" class="date">{{chat.lastDate | date: 'shortTime'}}</span>
                <span *ngIf="!isToday(chat.lastDate)" class="date">{{chat.lastDate | date: 'shortDate'}}</span>
                <h3>{{chat.name}} <span *ngIf="chat.unread === true || chat.unread[user.id]" class="point-red"></span></h3>
                <p>{{chat.lastMessage}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <app-background-empty *ngIf="!chats.length && !loading" title="You don't have chats" text="Start one!" src="assets/img/no-chat.png"></app-background-empty>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="newChat()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
