<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            {{'chats.title' | translate}}
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/historic"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<div class="progress-bar-container">
    <ion-progress-bar type="indeterminate" color="primary" *ngIf="loading"></ion-progress-bar>
</div>

<ion-content>
    <ion-list>
        <ion-item button class="chat" *ngFor="let chat of chats"
                  (click)="openChat(chat)">
            <ion-avatar slot="start" class="chat--avatar">
                <img src="assets/img/avatar/avatar.png">
            </ion-avatar>
            <ion-label class="chat--label">
                <span *ngIf="isToday(chat.lastDate)">{{chat.lastDate | date: 'shortTime'}}</span>
                <span *ngIf="!isToday(chat.lastDate)">{{chat.lastDate | date: 'shortDate'}}</span>
                <h3>{{chat.name}}</h3>
                <p>{{chat.lastMessage}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="newChat()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
