/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.d-flex {
  display: flex;
}
.w-100 {
  width: 100%;
}
ion-toolbar.ios {
  --border-width: 0 !important;
}
.toolbar-transparent {
  --ion-color-base: transparent !important;
}
.prompt-primary {
  .alert-wrapper {
    background: var(--ion-color-primary);
    .alert-title, .alert-input, .alert-button {
      color: #FFF;
    }
    .alert-input-group {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}


a[rel='noopener'] div img, .gmnoprint {
  opacity: 0;
}

.gm-style-iw, .gm-style-iw-c {
  display: none;
}
